<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page"
          routerLink="/home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/aboutUs">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contactUs">CONTACT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/checkout">CHECK OUT</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet>
</router-outlet>
